.RadButton {
	box-sizing: content-box; -moz-box-sizing: content-box;
}
.RadButton {
	font-family: "Segoe UI",Arial,Helvetica,sans-serif; font-size: 12px;
}

.RadButton1_input{
	float :right;
	
}

.rbDecorated {
	font-family: "Segoe UI",Arial,Helvetica,sans-serif; font-size: 12px;
}
.RadButton img {
	border: 0px currentColor; border-image: none;
}
.rbSkinnedButton {
	background-position: left -525px; border: 0px currentColor; border-image: none; height: 22px; text-align: center; padding-left: 4px; text-decoration: none; vertical-align: top; display: inline-block; white-space: nowrap; position: relative; background-repeat: no-repeat; background-color: transparent;
}
.rbSkinnedButton:focus {
	outline: rgb(102, 102, 102) dotted 1px !important;
}
@media not all
{
.rbSkinnedButton {
	vertical-align: middle;
}
.rbDecorated {
	line-height: 20px;
}
}
.rbDecorated {
	background-position: right -88px; outline: 0px; border: 0px currentColor;
	 border-image: none; height: 22px; text-align: center; overflow: visible; padding-right: 10px; 
	 padding-left: 6px; display: block; cursor: pointer; background-color: transparent; -webkit-border-radius: 0; -webkit-appearance: none;
}
.rbHovered.rbSkinnedButton {
	background-position: left -547px;
}
.rbHovered.rbSkinnedButton .rbDecorated {
	background-position: right -110px;
}
.rbSkinnedButton:focus {
	background-position: left -569px;
}
.rbSkinnedButton:active {
	background-position: left -569px;
}
.rbSkinnedButtonChecked {
	background-position: left -569px;
}
.rbSkinnedButtonChecked:hover {
	background-position: left -569px;
}
.rbSkinnedButton:focus .rbDecorated {
	background-position: right -132px;
}
.rbSkinnedButton:active .rbDecorated {
	background-position: right -132px;
}
.rbSkinnedButtonChecked .rbDecorated {
	background-position: right -132px;
}
.rbSkinnedButtonChecked:hover .rbDecorated {
	background-position: right -132px;
}
.rbPressedButton {
	background-position: left -569px !important;
}
.rbPressedButton .rbDecorated {
	background-position: right -132px !important;
}
.rbPressedIE8.rbSkinnedButton .rbDecorated {
	background-position: right -132px !important;
}
.rbPressedIE8Rtl.rbSkinnedButton .rbDecorated {
	background-position: right -132px !important;
}
.rbPressedIE8Rtl.rbSkinnedButton .rbDecorated {
	background-position-x: -1px !important;
}
.rbPressedIE8.rbSkinnedButton {
	background-position: left -569px !important;
}
.rbPressedIE8Rtl.rbSkinnedButton {
	background-position: left -569px !important;
}
.RadButton .rbPrimary {
	padding-left: 25px;
}
.rbPrimaryIconOnly {
	padding: 0px 9px;
}
.RadButton .rbSecondary {
	padding-right: 25px;
}
.rbPrimarySecondaryIcon {
	padding: 0px 15px;
}
.rbPrimaryIcon {
	width: 16px; height: 16px; overflow: hidden; display: block; position: absolute; cursor: default; background-repeat: no-repeat;
}
.rbSecondaryIcon {
	width: 16px; height: 16px; overflow: hidden; display: block; position: absolute; cursor: default; background-repeat: no-repeat;
}
.btn.RadButton .rbPrimaryIcon {
	width: 1.33em; height: 1.33em;
}
.btn.RadButton .rbSecondaryIcon {
	width: 1.33em; height: 1.33em;
}
.RadButton {
	cursor: pointer;
}
.RadButton .rbPrimaryIcon {
	cursor: pointer;
}
.RadButton .rbSecondaryIcon {
	cursor: pointer;
}
.rbPrimaryIcon {
	left: 4px; top: 3px;
}
.rbSecondaryIcon {
	top: 3px; right: 4px;
}
.rbToggleRadio.rbPrimaryIcon {
	top: 2px;
}
.rbToggleRadio.rbSecondaryIcon {
	top: 2px;
}
.rbToggleCheckbox.rbPrimaryIcon {
	top: 2px;
}
.rbToggleCheckbox.rbSecondaryIcon {
	top: 2px;
}
.rbToggleRadioChecked.rbPrimaryIcon {
	top: 2px;
}
.rbToggleRadioChecked.rbSecondaryIcon {
	top: 2px;
}
.rbToggleCheckboxChecked.rbPrimaryIcon {
	top: 2px;
}
.rbToggleCheckboxChecked.rbSecondaryIcon {
	top: 2px;
}
.rbToggleCheckboxFilled.rbPrimaryIcon {
	top: 2px;
}
.rbToggleCheckboxFilled.rbSecondaryIcon {
	top: 2px;
}
.rbText {
	display: inline-block;
}
.rbImageButton {
	text-align: center; text-decoration: none; display: inline-block; position: relative; cursor: pointer;
}
.rbLinkButton {
	padding: 0.08em 0.33em 0.16em; border: 1px solid currentColor; border-image: none; line-height: 1.4em; text-decoration: none; vertical-align: bottom; display: inline-block; position: relative; cursor: pointer; min-height: 1.41em;
}
.rbRounded.rbLinkButton {
	padding: 0.08em 0.91em 0.16em; border-radius: 4px;
}
.rbVerticalButton {
	background-position: -5px -525px; border: 0px currentColor; border-image: none; height: 65px; text-align: center; padding-left: 4px; text-decoration: none; display: inline-block; white-space: nowrap; position: relative; -ms-zoom: 1; background-repeat: no-repeat; background-color: transparent;
}
.rbVerticalButton:focus {
	outline: rgb(102, 102, 102) dotted 1px !important;
}
.rbVerticalButton .rbDecorated {
	background-position: right -200px; border: 0px currentColor; border-image: none; height: 65px; text-align: center; padding-right: 10px; padding-left: 6px; vertical-align: bottom; display: block; white-space: normal;
}
.rbHovered.rbVerticalButton {
	background-position: -10px -525px;
}
.rbHovered.rbVerticalButton .rbDecorated {
	background-position: right -265px;
}
.rbVerticalButton:focus {
	background-position: -15px -525px;
}
.rbVerticalButton:active {
	background-position: -15px -525px;
}
.rbVerticalButtonChecked {
	background-position: -15px -525px;
}
.rbVerticalButtonChecked:hover {
	background-position: -15px -525px;
}
.rbVerticalButton:focus .rbDecorated {
	background-position: right -330px;
}
.rbVerticalButton:active .rbDecorated {
	background-position: right -330px;
}
.rbVerticalButtonChecked .rbDecorated {
	background-position: right -330px;
}
.rbVerticalButtonChecked:hover .rbDecorated {
	background-position: right -330px;
}
.rbPressedButton.rbVerticalButton {
	background-position: -15px -525px !important;
}
.rbPressedButton.rbVerticalButton .rbDecorated {
	background-position: right -330px !important;
}
.rbPressedIE8.rbVerticalButton .rbDecorated {
	background-position: right -330px !important;
}
.rbPressedIE8Rtl.rbVerticalButton .rbDecorated {
	background-position: right -330px !important;
}
.rbPressedIE8Rtl.rbVerticalButton .rbDecorated {
	background-position-x: -1px !important;
}
.rbPressedIE8.rbVerticalButton {
	background-position: -15px -525px !important;
}
.rbPressedIE8Rtl.rbVerticalButton {
	background-position: -15px -525px !important;
}
.rbVerticalButton .rbPrimary {
	padding-left: 40px;
}
.rbVerticalButton .rbSecondary {
	padding-right: 40px;
}
.rbVerticalButton .rbPrimaryIcon {
	left: 14px; top: 20px;
}
.rbVerticalButton .rbSecondaryIcon {
	top: 20px; right: 14px;
}
.rbToggleButton {
	padding-left: 20px; text-decoration: none; display: inline-block; position: relative; cursor: default; min-height: 20px;
}
.rbToggleButtonIcon {
	left: 3px; top: 5px; width: 15px; height: 15px; display: block; position: absolute;
}
.rbToggleCheckbox {
	background-position: 0px 0px;
}
.rbToggleCheckbox:hover {
	background-position: -40px 0px;
}
.rbToggleButton:hover .rbToggleCheckbox {
	background-position: -40px 0px;
}
.rbSkinnedButton .rbToggleCheckbox:hover {
	background-position: -40px 0px;
}
.rbLinkButton .rbToggleCheckbox:hover {
	background-position: -40px 0px;
}
.rbToggleCheckboxChecked {
	background-position: 0px -40px;
}
.rbToggleCheckboxChecked:hover {
	background-position: -40px -40px;
}
.rbToggleButton:hover .rbToggleCheckboxChecked {
	background-position: -40px -40px;
}
.rbSkinnedButton .rbToggleCheckboxChecked:hover {
	background-position: -40px -40px;
}
.rbLinkButton .rbToggleCheckboxChecked:hover {
	background-position: -40px -40px;
}
.rbToggleCheckboxFilled {
	background-position: 0px -80px;
}
.rbToggleCheckbox:hover {
	background-position: -40px -80px;
}
.rbToggleButton:hover .rbToggleCheckboxFilled {
	background-position: -40px -80px;
}
.rbSkinnedButton .rbToggleCheckboxFilled:hover {
	background-position: -40px -80px;
}
.rbLinkButton .rbToggleCheckboxFilled:hover {
	background-position: -40px -80px;
}
.rbToggleRadio {
	background-position: -80px 0px;
}
.rbToggleRadio:hover {
	background-position: -120px 0px;
}
.rbToggleButton:hover .rbToggleRadio {
	background-position: -120px 0px;
}
.rbToggleRadioChecked {
	background-position: -80px -40px;
}
.rbToggleRadioChecked:hover {
	background-position: -120px -40px;
}
.rbToggleButton:hover .rbToggleRadioChecked {
	background-position: -120px -40px;
}
.rbTextButton {
	padding: 0px;
}
.rbSkinnedButton .rbToggleCheckbox.rbPrimaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleCheckboxChecked.rbPrimaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleRadio.rbPrimaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleRadioChecked.rbPrimaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleCheckboxFilled.rbPrimaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleCheckbox.rbSecondaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleCheckboxChecked.rbSecondaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleRadio.rbSecondaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleRadioChecked.rbSecondaryIcon {
	top: 4px;
}
.rbSkinnedButton .rbToggleCheckboxFilled.rbSecondaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleCheckbox.rbPrimaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleCheckboxChecked.rbPrimaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleRadio.rbPrimaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleRadioChecked.rbPrimaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleCheckboxFilled.rbPrimaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleCheckbox.rbSecondaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleCheckboxChecked.rbSecondaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleRadio.rbSecondaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleRadioChecked.rbSecondaryIcon {
	top: 4px;
}
.rbLinkButton .rbToggleCheckboxFilled.rbSecondaryIcon {
	top: 4px;
}
.rbSplitRight {
	top: 0px; width: 18px; height: 100%; display: block; position: absolute;
}
.rbSplitLeft {
	top: 0px; width: 18px; height: 100%; display: block; position: absolute;
}
.rbLinkButton .rbSplitRight {
	width: 16px;
}
.rbLinkButton .rbSplitLeft {
	width: 16px;
}
.rbSplitRight {
	background-position: -18px -176px; right: 0px;
}
.rbDisabled .rbSplitRight:hover {
	background-position: -18px -176px; right: 0px;
}
.rbDisabled .rbSplitRight:active {
	background-position: -18px -176px; right: 0px;
}
.rbDisabled .rbSplitRight:focus {
	background-position: -18px -176px; right: 0px;
}
.rbSplitRight:hover {
	background-position: -54px -176px;
}
.rbSplitRight:focus {
	background-position: -90px -176px;
}
.rbSplitRight:active {
	background-position: -90px -176px;
}
.rbSplitLeft {
	background-position: 0px -176px; left: 0px;
}
.rbDisabled .rbSplitLeft:hover {
	background-position: 0px -176px; left: 0px;
}
.rbDisabled .rbSplitLeft:active {
	background-position: 0px -176px; left: 0px;
}
.rbDisabled .rbSplitLeft:focus {
	background-position: 0px -176px; left: 0px;
}
.rbSplitLeft:hover {
	background-position: -36px -176px;
}
.rbSplitLeft:focus {
	background-position: -72px -176px;
}
.rbSplitLeft:active {
	background-position: -72px -176px;
}
.rbLinkButton .rbSplitRight {
	background-position: -307px -176px;
}
.rbLinkButton .rbSplitRight:hover {
	background-position: -307px -176px;
}
.rbLinkButton .rbSplitRight:active {
	background-position: -307px -176px;
}
.rbLinkButton .rbSplitRight:focus {
	background-position: -307px -176px;
}
.rbLinkButton .rbSplitLeft {
	background-position: -307px -176px;
}
.rbLinkButton .rbSplitLeft:hover {
	background-position: -307px -176px;
}
.rbLinkButton .rbSplitLeft:active {
	background-position: -307px -176px;
}
.rbLinkButton .rbSplitLeft:focus {
	background-position: -307px -176px;
}
.rbDisabled.rbLinkButton.RadButton .rbSplitLeft {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton .rbSplitLeft:hover {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton .rbSplitLeft:active {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton .rbSplitLeft:focus {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton .rbSplitRight {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton .rbSplitRight:hover {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton .rbSplitRight:active {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton .rbSplitRight:focus {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton:hover .rbSplitRight {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton.RadButton:hover .rbSplitLeft {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton .rbSplitRight {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton .rbSplitRight:hover {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton .rbSplitRight:focus {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton .rbSplitRight:active {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton .rbSplitLeft {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton .rbSplitLeft:hover {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton .rbSplitLeft:focus {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled.rbLinkButton .rbSplitLeft:active {
	background-position: -307px -176px; background-color: inherit;
}
.rbDisabled {
	opacity: 0.6;
}
.rbDisabled .rbDecorated {
	opacity: 1;
}
.rbDisabled.rbLinkButton {
	opacity: 0.9;
}
.rbDisabled.rbSkinnedButton.RadButton {
	
}
.rbDisabled.RadButton {
	cursor: default;
}
.rbDisabled.RadButton .rbPrimaryIcon {
	cursor: default;
}
.rbDisabled.RadButton .rbSecondaryIcon {
	cursor: default;
}
.rbDisabled.RadButton .rbDecorated {
	cursor: default;
}
.rbToggleRadio.rbPrimaryIcon {
	cursor: default;
}
.rbToggleCheckbox.rbPrimaryIcon {
	cursor: default;
}
.rbToggleRadio.rbSecondaryIcon {
	cursor: default;
}
.rbToggleCheckbox.rbSecondaryIcon {
	cursor: default;
}
.rbToggleRadioChecked.rbPrimaryIcon {
	cursor: default;
}
.rbToggleCheckboxChecked.rbPrimaryIcon {
	cursor: default;
}
.rbToggleRadioChecked.rbSecondaryIcon {
	cursor: default;
}
.rbToggleCheckboxChecked.rbSecondaryIcon {
	cursor: default;
}
.rbToggleCheckboxFilled.rbPrimaryIcon {
	cursor: default;
}
.rbToggleCheckboxFilled.rbSecondaryIcon {
	cursor: default;
}
span.rbDisabled:hover {
	background-position: left -525px; outline: 0px;
}
span.rbDisabled:focus {
	background-position: left -525px; outline: 0px;
}
span.rbDisabled:active {
	background-position: left -525px; outline: 0px;
}
span.rbDisabled:hover .rbDecorated {
	background-position: right -88px;
}
span.rbDisabled:focus .rbDecorated {
	background-position: right -88px;
}
span.rbDisabled:active .rbDecorated {
	background-position: right -88px;
}
span.rbDisabled.rbVerticalButton:hover {
	background-position: -5px -525px;
}
span.rbDisabled.rbVerticalButton:focus {
	background-position: -5px -525px;
}
span.rbDisabled.rbVerticalButton:active {
	background-position: -5px -525px;
}
span.rbDisabled.rbVerticalButton:hover .rbDecorated {
	background-position: right -200px;
}
span.rbDisabled.rbVerticalButton:focus .rbDecorated {
	background-position: right -200px;
}
span.rbDisabled.rbVerticalButton:active .rbDecorated {
	background-position: right -200px;
}
.rbDisabled .rbToggleCheckbox:hover {
	background-position: 0px 0px;
}
.rbDisabled:hover .rbToggleCheckbox {
	background-position: 0px 0px;
}
.rbDisabled .rbToggleCheckboxChecked:hover {
	background-position: 0px -40px;
}
.rbDisabled:hover .rbToggleCheckboxChecked {
	background-position: 0px -40px;
}
.rbDisabled .rbToggleCheckboxFilled:hover {
	background-position: 0px -80px;
}
.rbToggleButton.rbDisabled:hover .rbToggleCheckboxFilled {
	background-position: 0px -80px;
}
.rbDisabled.RadButton {
	_border: 0; _background-color: transparent;
}
.rbDisabled.RadButton:hover {
	_border: 0; _background-color: transparent;
}
.rbDisabled .rbToggleRadio:hover {
	background-position: -80px 0px;
}
.rbDisabled:hover .rbToggleRadio {
	background-position: -80px 0px;
}
.rbDisabled .rbToggleRadioChecked:hover {
	background-position: -80px -40px;
}
.rbDisabled:hover .rbToggleRadioChecked {
	background-position: -80px -40px;
}
.rbDisabled .rbToggleCheckbox {
	opacity: 0.5;
}
.rbDisabled .rbToggleCheckboxChecked {
	opacity: 0.5;
}
.rbDisabled .rbToggleRadio {
	opacity: 0.5;
}
.rbDisabled .rbToggleRadioChecked {
	opacity: 0.5;
}
.rbDisabled .rbToggleCheckboxFilled {
	opacity: 0.5;
}
.rbDisabled .rbPrimaryIcon {
	
}
.rbDisabled .rbSecondaryIcon {
	
}
.rbDisabled .rbSplitLeft {
	
}
.rbDisabled .rbSplitRight {
	
}
.rbDisabled.rbImageButton {
	background-position: 0px 0px;
}
.rbDisabled.rbImageButton:hover {
	background-position: 0px 0px;
}
.rbDisabled.rbImageButton:focus {
	background-position: 0px 0px;
}
.rbDisabled.rbImageButton:active {
	background-position: 0px 0px;
}
.rbNativeButton {
	border: 0px currentColor !important; border-image: none !important; height: auto; padding-right: 0px !important; background-image: none !important; background-color: transparent !important;
}
.rbHideElement {
	width: 0px !important; height: 0px !important; overflow: hidden !important; display: none;
}
.RadButton .rbHiddenImages {
	top: -9999px; visibility: hidden; position: absolute;
}
@media not all
{
.rbSkinnedButton {
	padding-left: 2px;
}
.rbVerticalButton {
	padding-left: 2px;
}
.rbPrimaryIcon {
	left: 5px;
}
.rbDecorated {
	padding-right: 12px; padding-left: 8px;
}
}
.rbAdd {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbRemove {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbOk {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbCancel {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbPrevious {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbNext {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbSave {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbConfig {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbRefresh {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbEdit {
	background-image: url("Common/Button/rbBasicIcons16x16.png") !important;
}
.rbAdd {
	background-position: 0px 0px !important;
}
.rbRemove {
	background-position: -20px 0px !important;
}
.rbOk {
	background-position: -40px 0px !important;
}
.rbCancel {
	background-position: -60px 0px !important;
}
.rbPrevious {
	background-position: -80px 0px !important;
}
.rbNext {
	background-position: -100px 0px !important;
}
.rbSave {
	background-position: -120px 0px !important;
}
.rbConfig {
	background-position: -140px 0px !important;
}
.rbRefresh {
	background-position: -160px 0px !important;
}
.rbEdit {
	background-position: -180px 0px !important;
}
.rbUpload {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbDownload {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbOpen {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbAttach {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbPrint {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbSearch {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbHelp {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbCart {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbRSS {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbMail {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbFB {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbTwitter {
	background-image: url("Common/Button/rbExtendedIcons16x16.png") !important;
}
.rbUpload {
	background-position: 0px 0px !important;
}
.rbDownload {
	background-position: -20px 0px !important;
}
.rbOpen {
	background-position: -40px 0px !important;
}
.rbAttach {
	background-position: -60px 0px !important;
}
.rbPrint {
	background-position: -80px 0px !important;
}
.rbSearch {
	background-position: -100px 0px !important;
}
.rbHelp {
	background-position: -120px 0px !important;
}
.rbCart {
	background-position: -140px 0px !important;
}
.rbRSS {
	background-position: -160px 0px !important;
}
.rbMail {
	background-position: -180px 0px !important;
}
.rbFB {
	background-position: -200px 0px !important;
}
.rbTwitter {
	background-position: -220px 0px !important;
}
.rbAdd24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbRemove24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbOk24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbCancel24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbPrevious24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbNext24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbSave24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbConfig24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbRefresh24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbEdit24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbBasicIcons24x24.png") !important;
}
.rbAdd24 {
	background-position: 0px 0px !important;
}
.rbRemove24 {
	background-position: -30px 0px !important;
}
.rbOk24 {
	background-position: -60px 0px !important;
}
.rbCancel24 {
	background-position: -90px 0px !important;
}
.rbPrevious24 {
	background-position: -120px 0px !important;
}
.rbNext24 {
	background-position: -150px 0px !important;
}
.rbSave24 {
	background-position: -180px 0px !important;
}
.rbConfig24 {
	background-position: -210px 0px !important;
}
.rbRefresh24 {
	background-position: -240px 0px !important;
}
.rbEdit24 {
	background-position: -270px 0px !important;
}
.rbUpload24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbDownload24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbOpen24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbAttach24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbPrint24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbSearch24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbHelp24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbCart24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbRSS24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbMail24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbFB24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbTwitter24 {
	width: 24px; height: 24px; background-image: url("Common/Button/rbExtendedIcons24x24.png") !important;
}
.rbUpload24 {
	background-position: 0px 0px !important;
}
.rbDownload24 {
	background-position: -30px 0px !important;
}
.rbOpen24 {
	background-position: -60px 0px !important;
}
.rbAttach24 {
	background-position: -90px 0px !important;
}
.rbPrint24 {
	background-position: -120px 0px !important;
}
.rbSearch24 {
	background-position: -150px 0px !important;
}
.rbHelp24 {
	background-position: -180px 0px !important;
}
.rbCart24 {
	background-position: -210px 0px !important;
}
.rbRSS24 {
	background-position: -240px 0px !important;
}
.rbMail24 {
	background-position: -270px 0px !important;
}
.rbFB24 {
	background-position: -300px 0px !important;
}
.rbTwitter24 {
	background-position: -330px 0px !important;
}
.rbRtl.rbToggleButton {
	padding: 0px 20px 0px 0px;
}
.rbRtl .rbToggleCheckbox.rbPrimaryIcon {
	top: 4px; right: 0px;
}
.rbRtl .rbToggleCheckboxChecked.rbPrimaryIcon {
	top: 4px; right: 0px;
}
.rbRtl .rbToggleRadio.rbPrimaryIcon {
	top: 4px; right: 0px;
}
.rbRtl .rbToggleRadioChecked.rbPrimaryIcon {
	top: 4px; right: 0px;
}
