@charset "utf-8";

@import url("nanumgothic.css");
@import url("reset.css");
@import url("layout.css");
@import url("board.css");

.demo-container label { padding-right: 10px; width: 185px; display: inline-block;}
.demo-container .RadButton { margin-top: 20px;}

.rcbHeader ul,
.rcbFooter ul,
.rcbItem ul,
.rcbHovered ul,
.rcbDisabled ul { margin: 0; padding: 0; width: 100%; display: inline-block; list-style-type: none;}
.telerik_select.RadComboBoxDropDown .rcbHeader { padding: 5px 27px 4px 7px;}
.rcbScroll { overflow: scroll !important; overflow-x: hidden !important;}
.col1,
.col2,
.col3 { margin: 0; padding: 0 5px 0 0; width: 30%; line-height: 14px; float: left;}
